
body{
  margin: 0;
}

.container{
  width: 100%;
  background-color: #fff;
  display: flex;
  gap:3px;
  flex-direction: column;
  align-items: center;
}

.inner-container{
  width: 95%;
  height: 565px;
}

.item1{
  background-color: rgba(237, 223, 179,0.3);
}

.item2{
  background-color: rgba(216, 204, 163,0.3);
}

.item3{
  background-color: rgba(237, 223, 179,0.3);
}

.item4{
  background-color:rgb(148, 180, 159);
}

/* DIV 1*/

.item1{
  background-image: url('images/div1-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
}

.header{
  background-color: rgba(206, 229, 208,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,p{
  margin: 10px 0;
}

/* Expanding Cards within DIV 1*/
.expanding-cards{
  display: flex;
  justify-content: center;
  margin: 100px auto 100px auto;
  width: 500px;

}

.panel{
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 300px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex:0.1;
  margin: 5px;
  position: relative;
  transition: flex 0.4s ease-in;
}

.panel h3{
  font-size: 16px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  opacity: 0;
  margin: 0;
  font-weight:normal;
  font-style: italic;
}

.panel.active{
  flex: 0.3;
}

.panel.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* DIV 2 */
.item2{
  background-color: rgba(144, 200, 172,0.5);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(3,1fr);
  justify-content: center;
  align-content:start;
}

.grid--1{
  align-self: center;
  justify-self:center;
  margin-left: 20px;

}

.grid--1 h1{
  color: #0F3D3E;
  display: inline;
  line-height: 1.3;
}

p{
  font-style: italic;
  display: inline;
  line-height: 1.2;

}

.grid--2{
  background-color: rgba(114, 255, 255,0.1);
  display:flex;
  gap:20px;

}

img{
  height: 150px;
  width: 150px;
  border-radius: 100px;
}


.grid--3{
  background-color: rgba(114, 255, 255,0.1);
  display: flex;
  padding: 20px 0 0 20px;
  gap:30px;

}



.grid--4{
  background-color: rgba(114, 255, 255,0.1);
  grid-column: 2/3;
  grid-row:3/4;
  display: flex;
  gap:40px;
  padding: 20px 50px 0 10px;
}

/* DIV 3 */
.item3{
  background-image: url('images/space.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.item3 h1{
  font-size: 100px;
  color: white;
  margin: 10px;
  padding: 10px;
}

.item3 p{
  color: white;
  margin: 10px;
  padding: 10px;
  font-style: italic;
}

/* DIV 4 */
.item4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 300px;
  height: 300px;
  gap:20px;
  border-radius: 4px;
  font-size: 90%;
}

.feedback strong{
  line-height: 1.5;
 font-size: 20px;
 padding: 10px 20px;
}

.rating-box{
  display: flex;

}

.rating{
  width: 80px;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  cursor: pointer;

}

.rating img{
  height: 50px;
  width: 50px;
  align-self: center;
}

.rating small{
  align-self: center;
  color: #555;
}

.rating:hover,.rating.active{
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.rating:hover small,.rating.active small{
  color: #111;
}
